.logo{
    height:40px;
    padding-block: 50px;

}
header{
    background-image: url(../img/pattern.png);

    background-size: contain;
    height: 100px;
    background-color: #1E90FF;
}
.photo-jhon{
    margin-top: 0px;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: px;
  }
  .collona3{
    padding: 20px 10px 20px 0px;
    width: 5px;
  }
  .collona4{
    padding: 1px 20px 0px 0px;
    width: 50px;
  }
  tr:nth-child(even){background-color: white}
  .riga1{
    background-color:#87CEFA ;
  }
  th {
    background-color: #1E90FF;
    color: white;
  }
  h4{
    margin: 0px;
  background-image: url(../img/monitor.jpg);
  color: #FFFFFF;
  font-size: 140%;
  line-height: 50px;
  text-align: center;
  width: 270px;
  height: 210px;
  }
  h3{
    margin: 0px;
    background-image: url(../img/graph.jpg);
    color: #FFFFFF;
    font-size: 135%;
    line-height: 50px;
    text-align: center;
    width: 270px;
    height: 210px;
  }