.logo{
    height:40px;

}
header{
    background-image: url(../img/pattern.png);

    background-size: contain;
    height: 100px;
}

.collona2{
    padding: 40px, 100px;
}
table{

}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: px;
  }
  .collona3{
    padding: 20px 180px 20px 0px;
  }
  .collona4{
    padding: 0px 180px 20px 0px;
  }
  tr:nth-child(even){background-color: white}
  .riga1{
    background-color:#87CEFA ;
  }
  th {
    background-color: #1E90FF;
    color: white;
  }
  